<% include layout/sidebar %>
<% include layout/header %>
        <div class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6 col-md-offset-3">
                <form action="/friends/add" method ="post">
                  <div class="form-group">

                    <label>Your Friend Email</label>
                    <input name="friend_mail" type="email" value=""  placeholder="Input" class="form-control" />
                  </div>
                  <div class="form-group col-md-offset-8">
                    <button type="submit" class="btn btn-info btn-fill btn-wd" name="Add">Add</button>
                  </div>
                  </form>
                </div>
              </div>
              <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Friends</h4>
                                <p class="category"></p>
                            </div>
                            <div class="content">
                                <div class="ct-chart"></div>
                                <div class="footer">
                                    <div class="chart-legend">
                                        <i class="fa fa-circle text-info"></i>
                                        <i class="fa fa-circle text-danger"></i>
                                        <i class="fa fa-circle text-warning"></i>
                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <i class="ti-reload"></i> Updated 3 minutes ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<% include layout/footer %>