<%include layout/header %>


  <body >
<div class="pageContent" style="margin-top:7%;margin-left:2%;margin-right:2%;">
 <br>  <h4>Group &emsp;<input type="text" name="groupName"> &emsp;<button type="button"> Add </button><br>
</h4>
   <div class="myGroup" style=" min-width: 150px; min-height: 400px; float: left;margin-top: 7.5%;  margin-left: 10%;  border: 1px solid black;padding-right: 5%;padding-bottom: 5%;">
     <ul class="groups">
       <li>OS &emsp;&emsp;<a href="#">remove</a>&emsp;<a href="#">add</a></li>
     </ul>
   </div>
   <div class="currentGroup" style=" min-width: 150px; min-height: 400px;float: right; margin-top: 7.5%;  margin-right: 10%;  border: 1px solid black;padding-right: 5%;padding-bottom: 5%;">
     <h3>Group Name</h3>
     Your friend name: <input type="text" name="fname"> <button type="button"> Add </button><br>
     <ul class="groupFriends">
       <li>Ahmed Ali &emsp;&emsp;<a href="#">remove</a></li>
     </ul>
   </div>
 </div>
</body>

<%include layout/footer %>
