<% include layout/sidebar %>
<% include layout/header %>
<script>


var groupname;
var user_id;
$(function(){
  $( "#addGroup" ).click(function( event ) {
    //event.preventDefault();
    groupname=$("#groupName").val();
    user_id=userID[0].innerHTML;
    console.log(userID[0].innerHTML);
      console.log(groupname);
    $.ajax({
      url:"http://localhost:8090/groups/add",
      method:"POST",
      data:{name:groupname,user_id:parseInt(user_id)},
      success:function(response){
         console.log(response)
      },
      error:function(error){
        console.log(error);
      }
    })

})
})
</script>

        <div class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6 col-md-offset-3">
                  <div class="form-group">
                    <label>Group</label>
                    <input type="text" value="" placeholder="Input"  name="groupName" id="groupName" class="form-control" />
                  </div>
                  <div class="form-group col-md-offset-8">
                    <button type="submit" class="btn btn-info btn-fill btn-wd"  id="addGroup">Add</button>
                  </div>
                </div>
              </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Groups</h4>
                                <p class="category">Bla bla bla blaaaa</p>
                            </div>
                            <div class="content">
                                <div class="ct-chart ct-perfect-fourth">
                                </div>

                                <div class="footer">
                                    <div class="chart-legend">
                                        <i class="fa fa-circle text-info"></i>
                                        <i class="fa fa-circle text-danger"></i>
                                        <i class="fa fa-circle text-warning"></i>
                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <i class="ti-timer"></i> Updated 3 minutes ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">OS</h4>
                                <p class="category">More of bla bla bla</p>
                            </div>
                            <div class="content">
                              <div class="col-md-6 col-md-offset-3">
                  <div class="form-group">
                    <label>Your Friend Name</label>
                    <input type="text" value="" placeholder="Input" class="form-control" />
                  </div>
                  <div class="form-group col-md-offset-8">
                    <button class="btn btn-primary btn-fill">Add</button>
                  </div>
                </div>
                                <div class="ct-chart">
                                </div>

                                <div class="footer">
                                    <div class="chart-legend">
                                        <i class="fa fa-circle text-info"></i>
                                        <i class="fa fa-circle text-danger"></i>
                                        <i class="fa fa-circle text-warning"></i>
                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <i class="ti-timer"></i> Updated 3 minutes ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<% include layout/footer %>
