<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="post">
    	<label for="name"></label>
    	<input type="text" name="name"><br>
    	<label for="password"></label>
    	<input type="password" name="password"><br>
    	<input type="submit">
    </form>
  </body>
</html>
<%include layout/header %>
<div id="last_order" class="home_div">
  <h4 class="header_h">last order</h4>
  <a class="last-order" href="ay7aga.html">Lunch from pastawesy</a><br>
  <a class="last-order" href="ay7aga.html">breakfast from 3abdo talaws</a>
</div>

<div id="friend_activies" class="home_div">
  <h4 class="header_h">Friends Activitiy</h4>
  <p class="friends_activity_P">Sara Has created an order from Mac</p>
  <p class="friends_activity_P">Dina Has created an order from papajonse</p>
</div>
<%include layout/footer %>