<% include layout/sidebar %>
<% include layout/header %>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
    <script>

        $(document).ready(function(){

          console.log("******"+userID.innerHTML);

            var user_id=userID.innerHTML;
            var iosocket = io.connect();
            iosocket.emit('join', {user_id:user_id});
            
            iosocket.on('notification',function(data){
              alert(data);
            })
            // function () {
            //     console.log("connected");
            // });
        });
    </script>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Latest Orders</h4>
                                <p class="category">Bla bla bla blaaaa</p>
                            </div>
                            <div class="content">
                                <div class="ct-chart ct-perfect-fourth">
                                    <p><a href="#">Lunch on 13/13/2013</a></p>
                                    <p><a href="#">Breakfast on 13/13/2013</a></p>
                                </div>

                                <div class="footer">
                                    <div class="chart-legend">
                                        <i class="fa fa-circle text-info"></i>
                                        <i class="fa fa-circle text-danger"></i>
                                        <i class="fa fa-circle text-warning"></i>
                                    </div>
                                    <hr>
                                    <div class="stats">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">Friends Activities</h4>
                                <p class="category">More of bla bla bla</p>
                            </div>
                            <div class="content">
                                <div class="ct-chart">
                                    <p><a href="#">Islam</a> has created <a href="#">an order</a> for lunch from <a href="#">Mac</a> </p>
                                    <p><a href="#">Ahmed</a> has created <a href="#">an order</a> for lunch from <a href="#">Mac</a> </p>
                                    <p>
                                </div>

                                <div class="footer">
                                    <div class="chart-legend">
                                        <i class="fa fa-circle text-info"></i>
                                        <i class="fa fa-circle text-danger"></i>
                                        <i class="fa fa-circle text-warning"></i>
                                    </div>
                                    <hr>
                                    <div class="stats">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<% include layout/footer %>
