<% include layout/sidebar %>
<% include layout/header %>
<div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                      <div style="margin-bottom:10px; padding-left:85%;">
                        <a href="/orders/new_order" class="btn btn-round btn-fill btn-info">Start New Order</a>
                      </div>
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Orders</h4>
                                <p class="category"></p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-striped">
                                    <thead>
                                      <th>Order</th>
                                      <th>Restaurant</th>
                                      <th>Invited</th>
                                      <th>Joined</th>
                                      <th>Status</th>
                                      <th>Actions</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                          <td>Breakfast</td>
                                          <td>ElTab3i</td>
                                          <td>10</td>
                                          <td>5</td>
                                          <td>Waiting</td>
                                          <td>
                                            <a>view</a>
                                            <a>finish</a>
                                            <a>cancel</a>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>Lunch</td>
                                          <td>Mac</td>
                                          <td>5</td>
                                          <td>5</td>
                                          <td>Finished</td>
                                          <td><a>view</a></td>
                                        </tr>
                                        <tr>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                        </tr>
                                        <tr>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                        </tr>
                                        <tr>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                        </tr>
                                        <tr>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

<%include layout/footer %>
