<%include layout/header %>
<div>
  <h1>Orders</h1>
  <div id="orders_div">
    <table class="table">
    <thead>
      <tr>
        <th>Order</th>
        <th>Resturant</th>
        <th>Invited</th>
        <th>Joined</th>
        <th>Status</th>
        <th>Actios</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>5</td>
        <td>waiting</td>
        <td><a>view</a>&nbsp<a>finish</a>&nbsp<a>cancel</a></td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
        <td>5</td>
        <td>waiting</td>
        <td><a>view</a></td>
      </tr>

    </tbody>
  </table>
  </div>
</div>

<%include layout/footer %>
