<!-- views/reset.ejs -->
<%include ./layout/config.ejs %>
    <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1></h1>
        </div>
    </div>
    <div class="row">
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <h1>Reset Password</h1>

            <!-- LOGIN FORM -->
            <form action="/reset" method="post">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" name="email" required>
                </div>

                <button type="submit" class="btn btn-danger btn-lg">Reset</button>
            </form>
        </div>
    </div>
    </div>
    <% include ./layout/footer %>
