body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* new order style */
.order-form {
	float: left;
	margin-left: 10%;
	margin-top: 5%;
}

.invited-friends-list {
	float: right;
	margin-top: 10%;
	margin-right: 25%;
	border: 1px solid black;
	padding-right: 5%;
	padding-bottom: 5%;
	text-align: left;
}

/* order details style */
#order-data,
#order-data td,
#order-data th {
		    border: 1px solid #ddd;
		    text-align: left;
		}

#order-data {
	border-collapse: collapse;
	width: 50%;
}

#order-data th,
#order-data td {
	padding: 15px;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 0.4s;
	animation-name: fadeIn;
	animation-duration: 0.4s
}

.modal-content {
	position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}
/* start edit for the notification tab in header */


/* Notifications */

.notification {
    display: inline-block;
    position: relative;
    padding: 0.6em;
    background: #3498db;
    border-radius: 0.2em;
    font-size: 1.3em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.notification::before,
.notification::after {
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.notification::before {
    display: block;
    content: "\f0f3";
    font-family: "FontAwesome";
    transform-origin: top center;
}

.notification::after {
    font-family: Arial;
    font-size: 0.7em;
    font-weight: 700;
    position: absolute;
    top: -15px;
    right: -15px;
    padding: 5px 8px;
    line-height: 100%;
    border: 2px #fff solid;
    border-radius: 60px;
    background: #3498db;
    opacity: 0;
    content: attr(data-count);
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    transition: transform, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.notification.notify::before {
    -webkit-animation: ring 1.5s ease;
    animation: ring 1.5s ease;
}

.notification.show-count::after {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

@-webkit-keyframes ring {
    0% {
        -webkit-transform: rotate(35deg);
    }
    12.5% {
        -webkit-transform: rotate(-30deg);
    }
    25% {
        -webkit-transform: rotate(25deg);
    }
    37.5% {
        -webkit-transform: rotate(-20deg);
    }
    50% {
        -webkit-transform: rotate(15deg);
    }
    62.5% {
        -webkit-transform: rotate(-10deg);
    }
    75% {
        -webkit-transform: rotate(5deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes ring {
    0% {
        -webkit-transform: rotate(35deg);
        transform: rotate(35deg);
    }
    12.5% {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
    }
    25% {
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg);
    }
    37.5% {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
    50% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    62.5% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    75% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.notification-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;

}

.notification-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
/* end of edit for the notification tab in header */
.data-container {
	float: left;
	margin-left: 5%;
}

.notification-container {
	float: right;
	margin-top: 10%;
	margin-right: 10%;
}

.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	padding: 2px 16px;
	color: white;
}

.modal-body {padding: 2px 16px;}

/* Add Animation */
@-webkit-keyframes slideIn {
	from {bottom: -300px; opacity: 0}
	to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
	from {bottom: -300px; opacity: 0}
	to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
	from {opacity: 0}
	to {opacity: 1}
}

@keyframes fadeIn {
	from {opacity: 0}
	to {opacity: 1}
}

/* footer style */
footer {
	position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	padding: 1rem;
  	background-color: #efefef;
  	text-align: center;
}

footer.page-footer {
	color: #000000;
	margin: 3px 20px 0 20px !important;
	padding-bottom: 0;
	padding-top: 3px !important;
	text-align: center;
}

.login-form{
	 text-align: center;


#last_order{
  border-radius: 25px;
  background: #9b1601;
  padding: 20px;
  width: 45%;
  height: 400px;
  float:left;
}

#friend_activies{
  border-radius: 25px;
  background: #9b1601;
  padding: 20px;
  width: 45%;
  height: 400px;
  float:right;
}
.header_h{
    color:#000000;
}

.friends_activity_P{
  color:#FFFFFF;
}
.last-order{
  font-size: 17px;
}