<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Yall Notlob</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/application.js"></script>
  </head>
  <body>
    <nav>
  	  <a href="#">Home</a> |
  	  <a href="#">Friends</a> |
  	  <a href="#">Groups</a> |
  	  <a href="#">Orders</a>
	 </nav> 
