<%include ./config.ejs %>

<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="yalla-netlob.herokuapp.com" class="simple-text">
                    Yalla Netlob
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="/home">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <p>Home</p>
                    </a>
                </li>
                <li>
                    <a href="/friends">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <p>Friends</p>
                    </a>
                </li>
                <li>
                    <a href="/groups">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <p>Groups</p>
                    </a>
                </li>
                <li>
                    <a href="/orders">
                        <i class="fa fa-cutlery" aria-hidden="true"></i>
                        <p>Orders</p>
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <p>Logout</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>